a {
	color: #4F2582
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
color: #fff;
background-color: #4F2582;
border-color: #000000;
}

.jumbotron {
	background-image: url(../pics/jacobs.jpg);
	background-size: contain;
}